<template>
  <div id="appRoot">
    <template>
      <nuxt />
    </template>
  </div>
</template>

<script>
  export default {
    created() {
      this.auth()
    },

    methods: {
      async auth() {
        if (this.$cookies.get('refreshToken')) {
          this.$router.push('/dashboard');
        }
      },
    }
  }
</script>
