<template>
    <v-app id="login" class="primary">
      <v-content>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4 lg4>
              <v-card class="elevation-1 pa-3">
                <v-card-text>
                  <div class="layout column align-center">
                    <h1 class="flex my-4 primary--text">Login</h1>
                  </div>
                  <v-form>
                    <v-text-field append-icon="person" name="login" label="Login" type="text"
                                  v-model="forms.email"></v-text-field>
                    <v-text-field append-icon="lock" name="password" label="Password" id="password" type="password"
                                  v-model="forms.password"></v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <NuxtLink to="/auth/register">
                    <v-btn block color="primary" outline>Register</v-btn>
                  </NuxtLink>
                  <v-spacer></v-spacer>
                  <v-btn block color="primary" @click="login" :loading="loading">Login</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </template>
  
  <script>
    export default {
      layout: 'default',
      data: () => ({
        loading: false,
        forms: {
          email: '',
          password: ''
        }
      }),
  
      methods: {
        async login() {
          await fetch(process.env.baseUrl+'/auth/login', {
            method: 'POST',
            withCredentials: true,
            headers: {
              'Content-Type':'application/json'
            },
            body: JSON.stringify(this.forms),
          }).then(result => {
            result.json().then((data) => {
              if (data.success == false) {
                alert(data.message)
                return false
              }

              this.$router.push('/device');
            });
          }).catch(error => console.log(error));
        }
      }
  
    };
  </script>
  <style scoped lang="css">
    #login {
      height: 50%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      z-index: 0;
    }
  </style>
  