<template>
  <div id="pageTable">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
                flat
                solo
                prepend-icon="search"
                placeholder="Type something"
                v-model="devices.search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>

              <NuxtLink to="/payment/subscribe">
                <v-btn round color="primary" dark>Subscribe <v-icon>add</v-icon></v-btn>
              </NuxtLink>
            </v-toolbar>
            
            <v-divider></v-divider>

            <v-card-text class="pa-0">
              <v-data-table
                :headers="devices.headers"
                :items="devices.items"
                :search="devices.search"
                class="elevation-1"
                item-key="device_id"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.device_id }}</td>
                  <td>{{ props.item.name }}</td>
                  <td>{{ props.item.telp }}</td>
                  <td>{{ props.item.expired_at }}</td>
                  <td>
                    <v-btn
                      class="white--text"
                      outline round color="primary"
                      @click="redirectDetailDevice(props.item.device_id)"
                    >
                      Info
                      <v-icon right dark>info</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import VuePerfectScrollbar from 'vue-perfect-scrollbar';

  export default {
    layout: 'dashboard',
    components: {
      VuePerfectScrollbar
    },
    data() {
      return {
        devices: {
          search: '',
          headers: [
            {text: 'Device ID',value: 'device_id'},
            {text: 'Name',value: 'name'},
            {text: 'Telp', value: 'telp'},
            {text: 'Expired at', value: 'expired_at'}
          ],
          items: []
        }
      };
    },

    created() {
      this.showDevice()
    },

    methods: {
      async showDevice() {
        await fetch(process.env.baseUrl+'/device/show-device', {
          method: 'GET',
          withCredentials: true,
          headers: {
            'Content-Type':'application/json',
            'Authorization': 'Bearer '+this.$cookies.get('refreshToken')
          },
          body: JSON.stringify(this.forms),
        }).then(result => {
          result.json().then((data) => {
            this.devices.items = data
          });
        }).catch(error => console.log(error));
      },

      redirectDetailDevice(device_id) {
        this.$router.push('/device/detail/'+device_id);
      }
    }
  };
</script>
