<template>
    <div id="page-text-fields">
      <v-container grid-list-xl fluid>
        <v-layout row wrap>
            <v-flex lg9>
                <v-widget title="Detail Device">
                    <div slot="widget-content">
                        <v-container>
                            <v-layout row>
                                <v-flex xs4>
                                <v-subheader>API Key</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                <v-text-field
                                    label="API Key"
                                    v-model="forms.api_key"
                                    readonly
                                ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs4>
                                <v-subheader>Webhook</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                <v-text-field
                                    label="Webhook URL"
                                    color="primary"
                                    v-model="forms.webhook"
                                ></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout
                                align-center
                                justify-end
                            >
                                <v-btn
                                    class="white--text"
                                    outline round color="primary"
                                    @click="updateWebhook"
                                >
                                    Save
                                    <v-icon right dark>cached</v-icon>
                                </v-btn>
                            </v-layout>
                        </v-container>
                    </div>
                </v-widget>
            </v-flex>
            <v-flex lg3>
                <v-widget title="Connect to WA">
                    <div slot="widget-content">
                        <v-img
                            :src="sessions.qr"
                        ></v-img>
                        <p>Status: <b><span v-text="sessions.status"></span></b></p>
                        <v-btn round color="primary" dark v-show="attributes.button_qr" @click="addSession">Generate QR <v-icon>cached</v-icon></v-btn>
                    </div>
                </v-widget>
            </v-flex>
        </v-layout>
      </v-container>
    </div>
  </template>
  
  <script>
    import VWidget from '@/components/VWidget';
  
    export default {
        layout: 'dashboard',
        components: {
            VWidget
        },
        data() {
            return {
                forms: {
                    api_key: null,
                    webhook: null,
                    device_id: this.$route.params.uuid,
                },

                sessions: {
                    id: this.$route.params.uuid,
                    isLegacy: false,
                    qr: "",
                    status: ""
                },

                attributes: {
                    button_qr: false,
                }
            };
        },
        computed: {},

        created() {
            this.getDevice(),
            this.getSessionStatus()
        },

        methods: {
            async getDevice() {
                await fetch(process.env.baseUrl+'/device/get-device/'+this.$route.params.uuid, {
                    method: 'GET',
                    withCredentials: true,
                    headers: {
                        'Content-Type':'application/json',
                        'Authorization': 'Bearer '+this.$cookies.get('refreshToken')
                    }
                }).then(result => {
                    result.json().then((data) => {
                        this.forms.api_key = data.api_key
                        this.forms.webhook = data.webhook
                    });
                }).catch(error => console.log(error));
            },

            async updateWebhook() {
                await fetch(process.env.baseUrl+'/device/update-webhook', {
                    method: 'PUT',
                    withCredentials: true,
                    headers: {
                        'Content-Type':'application/json',
                        'Authorization': 'Bearer '+this.$cookies.get('refreshToken')
                    },
                    body: JSON.stringify(this.forms),
                }).then(result => {
                    result.json().then((data) => {
                        if (data.success == false) {
                            alert(data.message)
                            return false
                        }
                        
                        alert("success")
                        this.getDevice()
                    });
                }).catch(error => console.log(error));
            },

            async getSessionStatus() {
                await fetch(process.env.baseUrl+'/sessions/status/'+this.$route.params.uuid, {
                    method: 'GET',
                    withCredentials: true,
                    headers: {
                        'Content-Type':'application/json',
                        'Authorization': 'Bearer '+this.$cookies.get('refreshToken'),
                        'angel-key': this.forms.key
                    }
                }).then(result => {
                    result.json().then((data) => {
                        this.sessions.status = data.data.status

                        if (data.success == false) {
                            this.attributes.button_qr = true
                            this.sessions.status = data.message
                            return false
                        }

                        this.attributes.button_qr = false
                    });
                }).catch(error => console.log(error));
            },

            async addSession() {
                await fetch(process.env.baseUrl+'/sessions/add', {
                    method: 'POST',
                    withCredentials: true,
                    headers: {
                        'Content-Type':'application/json',
                        'Authorization': 'Bearer '+this.$cookies.get('refreshToken')
                    },
                    body: JSON.stringify(this.sessions),
                }).then(result => {
                    result.json().then((data) => {
                        this.sessions.qr = data.data.qr
                    });
                }).catch(error => console.log(error));
            },

            async deleteSession() {
                await fetch(process.env.baseUrl+'/sessions/delete/'+this.$route.params.uuid, {
                    method: 'DELETE',
                    withCredentials: true,
                    headers: {
                        'Content-Type':'application/json',
                        'Authorization': 'Bearer '+this.$cookies.get('refreshToken'),
                        'angel-key': this.forms.key
                    }
                }).then(result => {
                    result.json().then((data) => {
                        this.sessions.qr = data.data.qr
                    });
                }).catch(error => console.log(error));
            }
        }
    };
  </script>
  