<template>
  <div id="pageTable">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-card-text>
              <div class="title d-flex justify-center font-weight-bold mt-4">PAY BEFORE</div>
              <div class="subtitle d-flex justify-center font-weight-light mt-1" v-text="$moment(this.orders.expired_at).format('dddd, MMMM Do - HH:mm')"></div>
              <div class="display-2 d-flex justify-center font-weight-indigo darken-1 indigo--text pt-2 pb-3" v-text="this.orders.total_payment"></div>
              <v-divider></v-divider>
              <v-layout row wrap class="pr-5 pl-5">
                <v-flex lg9>
                  <v-card class="mt-4">
                    <v-data-table
                      :headers="orders.headers"
                      :items="orders.items"
                      hide-actions
                      class="elevation-1"
                    >
                      <template slot="items" slot-scope="props">
                        <td>{{ props.item.order_id }}</td>
                        <td>{{ props.item.product_id.name }}</td>
                        <td>{{ props.item.order.device_id }}</td>
                        <td>{{ props.item.order.total_payment }}</td>
                      </template>
                    </v-data-table>
                  </v-card>
                </v-flex>
                <v-flex lg3>
                  <v-card class="mt-4">
                    <v-toolbar color="primary" dark flat dense cad>
                      <v-toolbar-title class="subheading">Pay using QRIS</v-toolbar-title>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-divider></v-divider>

                    <v-card-title class="pb-0">
                      <v-img
                        src="https://miro.medium.com/max/1838/0*Ys8T1S0PKkrzKtV-"
                      ></v-img>
                    </v-card-title>
                    <v-card-text>
                      QR Code accepted: 
                      <v-layout row wrap>
                        <v-flex lg3>
                          <v-img
                            max-height="75"
                            max-width="75"
                            src="https://duniatambang.co.id//admin/uploads/beritafoto/11656491711836405_720.jpg"
                          ></v-img>
                        </v-flex>
                        <v-flex lg3>
                          <v-img
                            max-height="75"
                            max-width="75"
                            src="https://blogger.googleusercontent.com/img/a/AVvXsEiL-Z4N4ZWA1XzsRey-BtSFNExzQoAG2uAeL7dPDHJdgGs9DC7JhGgvu3qWs7uyQBuuKKBIZvNiL1BtT70JIgM4xWOw4zJegKAtf6Gp1jIIXN_nhCj32CZCKt1iC1JQD2rW4VT9HxGWD1zPSs030CiphPTU7CGD-aq30yPFm2spAhuza9Pb5kfFSJzT1g=w1200-h630-p-k-no-nu"
                          ></v-img>
                        </v-flex>
                        <v-flex lg3>
                          <v-img
                            max-height="75"
                            max-width="75"
                            src="https://media.suara.com/pictures/970x544/2016/11/30/o_1b2plgvck1jng1mma1mv81apcf99a.jpg"
                          ></v-img>
                        </v-flex>
                        <v-flex lg3>
                          <v-img
                            max-height="75"
                            max-width="75"
                            src="https://upload.wikimedia.org/wikipedia/id/thumb/5/55/BNI_logo.svg/1200px-BNI_logo.svg.png"
                          ></v-img>
                        </v-flex>
                      </v-layout>
                      <div class="caption">And other applications that accept QRIS payment</div>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
  
  <script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';
  
    export default {
      layout: 'dashboard',
      components: {
        VuePerfectScrollbar
      },
      data() {
        return {
          orders: {
            search: '',
            headers: [
              {text: 'Invoice',value: 'order_id'},
              {text: 'Product',value: 'product_name'},
              {text: 'Device ID',value: 'device_id'},
              {text: 'Price', value: 'price'}
            ],
            items: [],
            expired_at: null,
            total_payment: 0,
          }
        };
      },

      methods: {
        rupiah (x) {
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
      },
  
      created() {
        this.showInvoice()
      },

      methods: {
        async showInvoice() {
          await fetch(process.env.baseUrl+'/payment/show-detail-orders/'+this.$route.params.uuid, {
            method: 'GET',
            headers: {
                'Content-Type':'application/json',
                'Authorization': 'Bearer '+this.$cookies.get('refreshToken')
            }
          }).then(result => {
            result.json().then((data) => {
              this.orders.items = data
              this.orders.expired_at = data[0].order.expired_at
              this.orders.total_payment = data[0].total_payment
            });
          }).catch(error => console.log(error));
        },
      }
    };
  </script>
  