<template>
    <div id="pageTable">
      <v-container grid-list-xl fluid>
        <v-layout row wrap>
          <v-flex lg9>
            <v-card>
              <v-toolbar color="primary" dark flat dense cad>
                <v-toolbar-title class="subheading">Subscribe</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-divider></v-divider>
              
              <v-card-text>
                <v-form v-model="valid">
                  <v-subheader class="pa-0">DEVICE DETAIL</v-subheader>
                  <v-text-field
                    label="Device Name"
                    name="name"
                    placeholder="Angel Ping"
                    v-model="forms.name"
                    v-validate="'required'"
                    data-vv-name="name"     
                    :error-messages="errors.collect('name')"  
                    required
                  ></v-text-field>      
                  <v-text-field
                    label="Telp"
                    placeholder="628"
                    v-validate="'required'"
                    data-vv-name="telp"     
                    :error-messages="errors.collect('telp')"                
                    v-model="forms.telp"
                    required
                  ></v-text-field>    
                  <v-subheader class="pa-0">PACKAGE</v-subheader>
                  <v-select
                    :items="item_products"
                    v-validate="'required'"
                    data-vv-name="product"     
                    :error-messages="errors.collect('product')"           
                    v-model="forms.product_id"
                    label="Product Info"
                    auto
                    required
                    item-text="name"
                    item-value="product_id"
                  ></v-select>
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex lg3>
            <v-card>
              <v-toolbar color="primary" dark flat dense cad>
                <v-toolbar-title class="subheading">Your Orders!</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-divider></v-divider>
              
              <v-card-text>
                <v-subheader class="pa-0">TOTAL PRICE</v-subheader>
                <div class="display-1 grey--text text--darken-1" v-text="rupiah(forms.price)"></div>

                <v-divider class="mt-3 mb-3"></v-divider>

                <div class="form-btn">
                  <v-btn @click="storeDevice" class="ml-0" round color="primary" dark>Subscribe <v-icon>add</v-icon></v-btn>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <AppLoading :dialog="dialog"></AppLoading>
    </div>
  </template>
  
  <script>
    import AppLoading from '@/components/AppLoading';
    import VuePerfectScrollbar from 'vue-perfect-scrollbar';
  
    export default {
      layout: 'dashboard',
      components: {
        VuePerfectScrollbar,
        AppLoading
      },
      data() {
        return {
          forms: {
            name: "",
            telp: "",
            product_id: "",
            price: 0,
          },
          item_products: [],
          valid: true,
          dialog: false
        };
      },
  
      methods: {
        rupiah (x) {
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },

        submit () {
          this.$validator.validateAll();
        },

        clear () {
          this.forms = {};
          this.$validator.reset();
        },

        async storeDevice() {
          await fetch(process.env.baseUrl+'/device/store-device', {
            method: 'POST',
            withCredentials: true,
            headers: {
              'Content-Type':'application/json',
              'Authorization': 'Bearer '+this.$cookies.get('refreshToken')
            },
            body: JSON.stringify(this.forms),
          }).then(result => {
            result.json().then((data) => {
              this.dialog = false
              this.$router.push({path: "/payment/invoice/"+data.order_id});
            });
          }).catch(error => console.log(error));
        },
        
        async showProduct() {
          await fetch(process.env.baseUrl+'/package/show-product', {
            method: 'GET',
          }).then(result => {
            result.json().then((data) => {
              this.item_products = data
              this.forms.product_id = this.item_products[0].product_id
              this.forms.price = this.item_products[0].price
            });
          }).catch(error => console.log(error));
        },
      },

      created() {
        this.showProduct()
      }
    };
  </script>
  